div.large-3.pull-9.columns {
    background-color: #494949;
    border-radius: 5px;
}

.name
{
font-weight:bold;
  line-height:inherit;
  color:rgba(0, 0, 0, 0.498039);
font-family:inherit;
  font-size:14px;
  direction:ltr;
  text-align:left;
  text-shadow:none;
  
}

.achievement
{
font-weight:bold;
  line-height:inherit;
  color:white;
  font-family:inherit;
  font-size:14px;
  direction:ltr;
  text-align:left;
  text-shadow:none;
}


.feed_image_wrapper
{
border-bottom-left-radius:50em;
  border-bottom-right-radius:50em;
  border-top-left-radius:50em;
  border-top-right-radius:50em;
  //width:40px !important;
  height:auto;
  direction:ltr;
  font-size:14px;
  
}

img.circleWrapSm.icn.panelIcon {
    min-height: 30px;
    min-width: 30px;
}

div.ui-btn-text.pnlBtnMain {
    height: auto;
}

body{
background: #6c6c6c;

}

img.circleWrapSm.icn.panelIcon.profileimg {
    padding: 0px;
}

.timeago, .points
{
color: rgb(60,179,113); 
font-size: 11px;
}

.comment_count
{
	float:right;
	background-color:rgba(0, 0, 0, 0.498039);
  background-position:initial initial;
  background-repeat:initial initial;
  color:white;
  font-size:11px;
  margin-bottom:5px;
  margin-top:5px;
  padding:5px;
  text-shadow:none;
  //width:41px;
  direction:ltr;
  
}

.inline
{
display:inline;
}

hr {
    background-color: #6c6c6c;
    border-color: #6c6c6c;
}

div.sponsor {
    width: 100%;
    //padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

#navbar
{
    transition: width 0.3s ease;
	opacity:1;
}

.itemcard {
    border-style: solid;
    border-color: #909090;
    background-color: #909090;
    color: #909090;
    border-radius: 5px;
    padding: 10px;
}

img.circleWrap {
    padding: 0px;
    margin: 0px;
}

strong.name {
    color: #cfcfcf;
}

div.achievement {
    color: #cfcfcf;
}

div.points {
    color: #cfcfcf;
}

div.timeago {
    color: #cfcfcf;
}



@media only screen 
and (min-width : 600px) {
/* Styles */
.hidebig{display:none;}
}

@media only screen 
and (max-width : 600px) {
/* Styles */
.hidesmall
{	display:none;	}

#navbar
{
	position:fixed;
	width:80%;
	left:-80%;
	top:0px;
	overflow:hidden;
	transition: width 0.3s ease;
	-webkit-transition: width 0.3s ease;
	opacity:0;
	height:100%;
}

#navbar:target
{
	display:inline;
	//width:80%;
	left:0px;
	background-color: #494949;
    border-radius: 5px;
    transition: width 0.3s ease;
    -webkit-transition: left 0.3s ease;
	opacity:1;
	border-top-left-radius:0px;;
}

}




